body {
    margin: 0;
    color: #fff;
    background-color: #1a1c29;
}

header {
    background-color: #000;
    height: 70px;
    width: 100%;
    color: #fff;
    padding: 0 15px;
    box-sizing: border-box;
}

.flex {
    display: -ms-flexbox; /* IE */
    display: flex;
}

.flex-equal-justified {
    -ms-flex-pack: justify; /* IE */
    justify-content: space-between;
}

.flex-center-justified {
    -ms-flex-pack: center; /* IE */
    justify-content: center;
}

.flex-center {
    -ms-flex-align: center; /* IE */
    align-items: center;
}

.flex-vertical {
    -ms-flex-direction: column; /* IE */
    flex-direction: column;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #016cf9;
    display: inline-block;
    width: 100%;
    margin-bottom: 24px;
    text-align: center;
    padding: 12px 0;
    border-radius: 4px!important;
}

.text-center {
    text-align: center;
}