:root {
    --header-height: 50px;
    --primary-color: #ff1744;
    --background-color: #000;
    --shadow-elevation-2dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                            0 1px 5px 0 rgba(0, 0, 0, 0.12),
                            0 3px 1px -2px rgba(0, 0, 0, 0.2);
    --shadow-elevation-4dp: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                            0 1px 10px 0 rgba(0, 0, 0, 0.12),
                            0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

body {
    margin: 0;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

/* Button */
button {
    /* Reset CSS */
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

button.btn {
    font-family: sans-serif;
    font-size: .875rem;
    font-weight: bold;
    text-transform: uppercase;
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
    border-radius: 4px;
}

button.btn.contained {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: var(--shadow-elevation-2dp);
}

button.btn.contained:hover,
button.btn.contained:focus {
    box-shadow: var(--shadow-elevation-4dp);
}

/* Input */
input[type="text"] {
    /* Reset */
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
}

input[type="text"] {
    height: 36px;
    min-width: 200px;
    background-color: #fff;
    padding: 0 8px;
    border-radius: 4px;
    box-shadow: var(--shadow-elevation-2dp);
}

/* Flex Layout */
.layout.horizontal,
.layout.vertical {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.layout.horizontal {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.layout.vertical {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.layout.wrap {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.layout.no-wrap {
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.layout.center,
.layout.center-center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.layout.center-justified,
.layout.center-center {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.layout.end-justified {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.flex {
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
}
.flex-2 {
    -ms-flex: 2;
    -webkit-flex: 2;
    flex: 2;
  }
.layout.around-justified {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.layout.justified {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

/* Header */
#headerContainer {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0.95) 0%, 
        rgba(0, 0, 0, 0.8) 25%, 
        rgba(0, 0, 0, 0.7) 50%, 
        rgba(0, 0, 0, 0.8) 75%,
        rgba(0, 0, 0, 0.95) 100%
        ), url('../images/books_header_background_large.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--background-color);
}

#headerContainer.sub {
    height: 200px;
}

#headerContainer header {
    padding: 0 8px;
    height: var(--header-height);
}

#headerContainer header a {
    color: var(--primary-color);
    font-weight: bold;
}

#headerContainer header h1 {
    margin: 0;
    font-family: monospace;
}

#headerActionWrapper {
    width: 100%;
    height: calc(100% - var(--header-height));
    color: #fff;
    text-align: center;
}

@media screen and (min-width: 769px) {
    #headerActionWrapper input[type="text"] {
        width: 400px;
    }

    #headerActionWrapper input[type="text"],
    #headerActionWrapper .btn.contained {
        height: 64px;
        height: 64px;
        font-size: 1.1rem;
    }
}